<div class="container my-5">
 <div class="flex">
  <div>
      <p class="f20 ml-3 mb-2" ><%= @flat.name %></p>
  </div>
</div>
<%# Grid start %>
<div class="grid">

<div>
<%# carousel start %>
<div class="bookingFlex mb-5">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <% @flat.photos.each_with_index do |photo, i| %>
    <div class="carousel-item <%= i == 0 ? "active" : "" %>">
      <%= cl_image_tag photo.key, class: "d-block mainImage" %>
    </div>
      <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
</div>
</div>
<%# carousel end %>
<%# map start %>
<div>
<%= image_tag "map.png", class: "map mt-5" %>
</div>
<%# map end %>
</div>


<%# Info start %>
<div class="pL2 pT">
    <div class="flat-details">
      <div class="city"><strong><%= @flat.city %> is waiting for you!</strong></div>
        <div class="pTB ">
      <p class="f16" style="padding-top:30px; padding-bottom:30px; margin-bottom:0;">Hurray!<br>Now that you both confirm you're happy to swap flat for some time at home away from home, check our tips and guidelines to make the most out of your trip. <br> <br> Prepare your suitcase, you are going to stay at <%= @flat.user.first_name %>'s place in:</p>
      <div class="f28"><%= @booking.month_request.to_date.strftime("%B") %></div>
      <p class="f16 mb-5" style="padding-top:30px; padding-bottom:30px;">Remember you can always keep chatting with <%= @flat.user.first_name %> for any relevant information you may need. We rely on a community of great people that communicate between each other with respect, honesty and politeness.</p>

      <div class="f24 mb-3"><strong>Some more useful information for you</strong></div>
      <div class="flex justify-content-space-between">
        <div class="mB124"><span class="iconify pR" data-icon="akar-icons:key" style="color: #2c364c;" data-width="60" data-height="60"></span></div>

        <div><p class="f16" style="padding-top:30px; padding-bottom:30px; margin-bottom:0;"><strong>Keys</strong><br>How do I do with the keys? It´s very easy!  <br> If you know  your neighbours well, you can just handle the keys to them, or maybe ask a friend to help you out with that. Another widely used option is the one of installing a small lockbox protected by a code where you can just storage your keys.</p></div>
      </div>
      <div class="flex justify-content-space-between">
        <div class="mB176"><span class="iconify pR" data-icon="ic:round-cancel-presentation" style="color: #2c364c;" data-width="60" data-height="60"></span></div>

        <div><p class="f16" style="padding-top:30px; padding-bottom:30px; margin-bottom:0"><strong>Cancellation policy</strong><br>We hope you guys can all make it through your trips once agreed, confirmed and paid to the other flat's owner. We are also aware that you may have some emergencies or something unexpected happening. Please try as much as you can to let the other owner know about it, since this would results in flight last minute change and the need of finding someone else at the last moment.</p></div>
      </div>
    </div>
      <div class="description"> </div>
    </div>
</div>
<%# Info end %>
</div>
<%# Grid end %>


</div>
