<div class="booking-show-container">

<%# carousel start %>
<div >
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <% @flat.photos.each_with_index do |photo, i| %>
    <div class="carousel-item <%= i == 0 ? "active" : "" %>">
      <%= cl_image_tag photo.key, class: "d-block mainImage" %>
    </div>
      <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
</div>
<%# carousel end %>
</div>



  <%# <div class="left-column">
    <%= cl_image_tag @flat.photos.first.key, class: "picture" %>
  </div>

  <div class="right-column">
    <div class="flat-details">
      <div class="city"><%= @flat.city %></div> <h2>is waiting for you!</h2>
      <div class="description"><%= @flat.description %></div>
    </div>

    <br>

    <div class="standard-infos">
      <i class="fa-solid fa-circle-info"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
  </div>
</div>
