
<p class="f26" style="padding-left:20px;padding-top:15px;" id="flat">
<% if chat_room.flat.user.id == current_user.id %>
  <%= link_to flat_path(chat_room.flat), class:"purple-p noDeco2" do %>
    <%= chat_room.user.first_name %> • <%= chat_room.flat.name%>
  <% end  %>
<% else %>
  <%= link_to flat_path(chat_room.flat), class:"purple-p noDeco2" do %>
    <%= chat_room.flat.user.first_name %> • <%= chat_room.flat.name%>
  <% end %>
<% end %>
</p>
<div id="messages" style="" data-chat-room-id="<%= chat_room.id %>" >
  <% chat_room.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>
<div class="pLR sticky-bottom">
  <%= simple_form_for [ flat, chat_room, message ], remote: true do |f| %>
    <%= f.input :content, label: false, input_html: {class: "borderR", id: "messager"}, placeholder: "Message #{chat_room.flat.user.first_name}" %>
    <%= f.submit "Send", class: "btn-lb2 rounded-pill widthSend" %>
  <% end %>
</div>
