<div class="confirm-form-container mt-2">
  <div>
    <h1 class="f32 mB">Confirm your booking</h1>



  <div class="mB1 borderB">
    <div class="grid">
      <% if current_user.id == @owner.id %>
        <div class="f18">
            <p> <strong>Month requested:</strong></p>
            <p> <strong>City of the booking:</strong> </p>
            <p> <strong>Service fee:</strong></p>
            <p> <strong>You will pay:</strong></p>
        </div>
        <div class="f18">
            <p> <%= @booking.month_request.to_date.strftime("%B") %></p>
            <p> <%= @booking.flat.city %></p>
            <p> <%= @booking.service_fee %>€</p>
            <p> <%= @booking.price_owner %>€</p>
        </div>
      <% elsif current_user.id == @requester.id %>
        <div class="f18">
            <p> <strong>Month requested:</strong></p>
            <p> <strong>City of the booking:</strong> </p>
            <p> <strong>Service fee:</strong></p>
            <p> <strong>You will pay:</strong></p>
        </div>
        <div class="f18">
            <p> <%= @booking.month_request.to_date.strftime("%B") %></p>
            <p> <%= @booking.flat.city %></p>
            <p> <%= @booking.service_fee %>€</p>
            <p> <%= @booking.price_requester %>€</p>
        </div>
      <% else %>
        <% redirect_to dashboard_path %>
      <% end %>
    </div>
  </div>


  <h1 class="f32 mB">Insert your payment</h1>
  <form action= <%=pay_booking_path(booking)%> method='get'>
    <label class="string optional mBPay" for="credit_card_number">Credit Card Number</label>
    <input class="form-control string optional" type="text" name="credit_card_number" id="credit_card_number" required pattern="[\d][0-9]{15}">

    <label class="string optional mBPay" for="expiracy_date">Expiracy Date</label>
    <input class="form-control string optional" type="text" name="expiracy_date" id="expiracy_date" required pattern="^(0[1-9]|1[012])[ -\/]\d\d$">


    <label class="string optional mBPay" for="cvv">CVV</label>
    <input class="form-control string optional" type="text" name="cvv" id="cvv" required pattern="^[0-9]{3,4}$">

    <input type="submit" name="commit" value="Pay" data-disable-with="pay" class="btn-small3 rounded-pill border-0">
  </form>
</div>
