<div class="flat-form-container">
  <h2>Your Flat!</h2>

  <%= simple_form_for flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address, id: "flat_address" %>
    <%= f.input :city, input_html: { id: "flat_city_form" }, readonly: true%>
    <%= f.input :description %>
    <%= f.input :price, input_html: { min: '0', step: 'any' } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Submit", class: "btn-small rounded-pill border-0" %>
  <% end %>
</div>
