 <nav>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <%= link_to "Hometastic", root_path, class: "slide-left noDeco logo" %>
  </div>


  <div class="pB">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Find a flat",flats_path, class: "nav-item" %>
    </li>
    <% if current_user.flats.any? %>
      <li >
        <%= link_to "My flat",flat_path(current_user.flats.first), class: "nav-item" %>
      </li>
    <% else %>
      <li >
        <%= link_to "Post my Flat",new_flat_path, class: "nav-item" %>
      </li>
    <% end %>
    <li>
      <% if current_user.all_chats.any? %>
        <% chatroom = current_user.all_chats.first %>
        <%= link_to "Chats",flat_chat_room_path(chatroom.flat, chatroom, anchor: "message-#{chatroom.messages.last&.id}"), class: "nav-item" %>
      <% else %>
        <%= link_to "Chats",chat_rooms_path, class: "nav-item" %>
      <% end %>
    </li>
    <li>
      <%= link_to "Dashboard", dashboard_path, class: "nav-btn", style: "text-decoration: none;"%>
    </li>
    <li class="nav-dropdown dropdown">
      <%= image_tag "burger_menu.svg", class: "burger", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1623330188314-8f4645626731?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-end shadow dropStyle" aria-labelledby="navbarDropdown">
        <p class="dropdown-item" style="margin:0;"><%= current_user.email%></p>
        <%= link_to "Edit account", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  <% else %>
        <li>
        <%= link_to "How it works","#", class: "nav-item" %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-btn" %>
      </li>
        <li>
        <%= link_to "Log in", new_user_session_path, class: "nav-btn" %>
      </li>
  <% end %>
  </ul>
  </div>
</nav>
