<div class="container">
    <div class="search-bar">
      <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "flat_city",
          placeholder: "Location"
        %>
        <%= f.input :start_month, as: :string, required: true, input_html: {class: "datepicker", id: "month_start"} %>
        <%= f.input :end_month, as: :string, required: true, input_html: {class: "datepicker", id: "month_end"} %>
        <%= button_tag do %>
          <i class="fas fa-search" style="color:white"></i>
        <% end %>
      <% end %>
    </div>
  </div>
