  <div class="container">
    <div class="search-bar">
      <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "flat_city",
          placeholder: "Location"
        %>
        <%= f.input :start_date, as: :string, required: true, class:"start_date"%>
        <%= f.input :end_date, as: :string, required: true, class: "end_date" %>
        <%= f.submit "Search" %>
        implement datepicker
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="search-bar">
      <form>
        <div class="location-input">
          <label>Location</label>
          <input type="text" placeholder="Where are you going">
        </div>
        <div>
          <label>Month</label>
          <input type="text" placeholder="Add Month">
        </div>
        <div>
          <label>Year</label>
          <input type="text" placeholder="Year">
        </div>
        <button type="submit">
          <img src="" alt="">
        </button>


      </form>


    </div>
  </div>
</div>
