
<div class="container">
    <div class="search-bar">
      <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
        <div class="searchbarflex">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control borderHover",
            id: "flat_city",
            placeholder: "Location"
          %>
          <%= f.input :start_month, as: :string, required: true, label: false, input_html: {class: "datepicker borderHover", id: "month_start", placeholder: "From", style: "border:none;"} %>
          <%= f.input :end_month, as: :string, required: true, label: false, input_html: {class: "datepicker borderHover", id: "month_end", placeholder: "To", style: "border:none;"} %>
          <%= button_tag class:"BtnSearch" do %>
            <i class="fas fa-search" style="color:white"></i>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
