  <div class="container">
    <div class="search-bar">
      <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "flat_city",
          placeholder: "Location"
        %>
        <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.submit "Search" %>
        implement datepicker
      <% end %>
    </div>
  </div>
