<% if booking.stay_status == BookingRequest::ON_REQUEST  %>
  <%= link_to "Accept", accept_booking_path(booking), method: :patch, class: "btn-bd rounded-pill border-0 f14W" %>
  <%= link_to "Decline", decline_booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-bd rounded-pill border-0 f14W" %>
<% elsif booking.status == BookingRequest::DECLINED %>
  <h2 class="purple mr-3"><%= booking.status %></h2>
<% elsif booking.stay_status == BookingRequest::CANCELLED%>
  <h2 class="purple mr-3"><%= booking.stay_status %></h2>
<% elsif booking.stay_status == BookingRequest::TB_PAID || booking.stay_status == BookingRequest::TBP_OWNER%>
  <%= link_to "Pay", confirm_booking_path(booking), class: "btn-bd rounded-pill border-0 f14W"%>
<% elsif booking.stay_status == BookingRequest::TBP_REQUESTER %>
  <h2 class="purple mr-3"><%= booking.stay_status %></h2>
<% elsif booking.status == BookingRequest::ACCEPTED && booking.stay_status == BookingRequest::UPCOMING %>
  <%= link_to booking.stay_status, booking_request_path(booking), class: "btn-bd rounded-pill border-0 f14W" %>
<% elsif booking.stay_status == BookingRequest::IN_PROGRESS %>
  <%= link_to booking.stay_status, booking_request_path(booking), class: "btn-bd rounded-pill border-0 f14W" %>
<% elsif booking.stay_status == BookingRequest::FINISHED %>
  <%= link_to booking.stay_status, booking_request_path(booking), class: "btn-bd rounded-pill border-0 f14W" %>
<% end %>
