<h1 class="flats-header">Flat index</h1>
<%= render 'components/search_bar' %>

<br>
<div class="cards">
  <% @flats.each do |flat| %>
    <%=link_to flat_path(flat) do%>
      <div class="card-trip">
        <%= cl_image_tag flat.photos.first.key %>
        <div class="card-trip-infos">
          <div>
            <h2><%=flat.city %></h2>
            <p id="pL"><%=flat.address %></p>
          </div>
          <div>
          <h2 class="card-trip-pricing"><%=flat.price.to_s + " €/month"%></h2>
          <p>Apr-May</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
