<button onclick="history.back()">Index</button>
<h2>Flat Details</p>
<h2><%= @flat.address %></h2>
<p><%= @flat.price %></p>
<p><%= @flat.description %></p>
<p><%= @flat.city %></p>

<% if @amenities %>

<p>Amenities:</p>
  <ul>
    <% @amenities.each do |amenity| %>
      <li><%= amenity.title %></li>
    <% end %>
  </ul>
<% end %>


<% unless current_user == @flat.user %>
  <%= simple_form_for [ @flat, @booking ] do |f| %>
    <%= f.input :month_request, as: :string, required: true, placeholder:'select date', input_html: {class: "datepicker"} %>
    <br>
    <%= f.submit "Send a request to this Flat", class: "btn btn-success rounded-pill my-5 mr-3" %>
  <% end %>
<% else %>
  <%= link_to "edit your flat", edit_flat_path(@flat), class: "btn btn-success rounded-pill" %>
  <button type="button" class="btn btn-success rounded-pill border-0"><%= link_to 'Add amenities', new_flat_amenity_path(@flat) %></button>
<% end  %>

<h2>Reviews</h2>
<ul>
  <% @flat.reviews.each do |review| %>
    <li><%= review.content %> || <%= review.rating %></li>
  <% end %>
</ul>
