<button onclick="history.back()">Index</button>
<h2>Flat Details</p>
<h2><%= @flat.address %></h2>
<p><%= @flat.price %></p>
<p><%= @flat.description %></p>
<p><%= @flat.city %></p>
<div class="booking-form">
<%= simple_form_for [ @flat, @booking ] do |f| %>
<div class="form-date">
    <%= f.input :month_request, as: :string, required: true, label:"month", placeholder:'select date', wrapper_html: {class: "form-month"}, input_html: {class: "datepicker", id: "from" } %>
    <div class="form-year">
    <label for="Year">Year</label>
    <p>2022</p>
    </div>
</div>
  <br>
<div class="form-button">
<button type="button" class="btn-lb rounded-pill border-0">Speak to owner</button>
  <%= f.submit "Send a request to this Flat", class:"btn-db rounded-pill mt-3 border-0"  %>
</div>
<% end %>
</div>

<h2>Reviews</h2>
<ul>
  <% @flat.reviews.each do |review| %>
    <li><%= review.content %> || <%= review.rating %></li>
  <% end %>
</ul>
