<%# main start %>
<div class="container">
  <div class="">
    <div class="">
      <p class="f26"><%= @flat.name %></p>
      <div class="titleFlex">
        <div class="flex justify-content-between">
          <p class="f14"><%= image_tag "star.png"%> &nbsp; <%= @flat.review_average%> - <%= @flat.reviews.count%> reviews &nbsp;📍<%= @flat.city %>, <%= @flat.address %> &nbsp; 💶<%= @flat.price %>€/month,
            Available on: <% @flat.available_months.each do |month| %>
              <%= month.month_year.to_date.strftime("%b %y") %>
              <%end %> </p>
        </div>
        <% if current_user == @flat.user %>
          <div style="padding-bottom:10px;">
            <%= link_to edit_flat_path(@flat) do %>
              <span class="iconify" data-icon="clarity:note-edit-line" style="color: #a1a1aa; margin-right:10px;" data-width="32"></span>
            <% end %>
            <%= link_to new_flat_amenity_path(@flat) do %>
              <span class="iconify" data-icon="carbon:add-alt" style="color: #a1a1aa; margin-right:18px;" data-width="32"></span>
            <% end %>
            <%= simple_form_for [ @flat, @available_month ], html: {class: "d-none"} do |f| %>
              <%= f.input :month_year, as: :string, input_html: {class: "datepicker"} %>
              <%= f.submit "Add Available Month", class: "btn-lb rounded-pill border-0 w-100 py-3 f14W" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# Images wrapper start %>
  <div class="imgContainer">
      <%# Main pic start %>
    <div>
      <%= cl_image_tag @flat.photos.first.key, class: "mainImage" %>
    </div>
      <%# Main pic end %>
      <%# Secondary pics start %>
    <div class="grid">
      <% @flat.photos.each_with_index do |photo, i| %>
        <% unless i == 0%>
          <%= cl_image_tag photo.key, class: "secondaryImage" %>
        <% end %>
      <% end %>
    </div>
      <%# Secondary pics end %>
  </div>
  <%# Images wrapper end %>

  <%# Wrapper amenities description form starts %>
  <div class="grid2">
    <%# Amenities start %>
    <div class="pT wAmenities mr-5">
      <p class="f24">What the place offers</p>
      <div class="amenitiesGrid pT2 pB30 borderB">
        <% @flat.amenities.each do |amenity| %>
          <p class="f16"><span class="iconify" data-icon=<%=amenity.icon_class%> style="color: #2c364c; font-size: 28px;"></span> <%= amenity.title %></p>
        <% end %>
      </div>
      <%# Amenities end %>
      <%# Description start %>
      <div class="pTB borderB">
        <p class="f16" style="padding-top:30px; padding-bottom:30px; margin-bottom:0;"><%= @flat.description %></p>
      </div>
      <%# Description end %>
      <%# Reviews start %>
      <%= render 'components/reviews' %>
      <%# Reviews end %>
    </div>

    <%# Wrapper amenities description form end %>

    <%# Booking start %>
    <%  unless current_user == @flat.user %>
      <div class="form m0 w250 pB30 mt-5 shadow">
        <p class="f20 pB" style="padding-left: 5px;">Your Hometastic Stay</p>
        <%= simple_form_for [ @flat, @booking ] do |f| %>
          <%= f.input :month_request, as: :string, required: true, placeholder:'select date', wrapper_html: {class:"form-month"}, input_html: {class: "datepicker"} %>
          <br>
          <%= f.submit "Send a request to this Flat", class: "btn-lb rounded-pill border-0 w-100 py-3 f14W" %>
        <% end %>
        <%= link_to "Chat with the owner", flat_chat_rooms_path(@flat), method: :post, class: "btn-db rounded-pill border-0 w-100 mt-3 py-3 f14W" %>
      </div>
<<<<<<< HEAD
<<<<<<< HEAD
    </div>
=======
>>>>>>> master
  <%# Booking end %>
<%# main div ends %>

    <%# <% if @amenities %>
      <%# <p>Amenities:</p> %>
      <%# <ul> %>
        <%# <% @amenities.each do |amenity| %>
          <%# <li><%= amenity.title</li> %>
        <%# <% end %>
      <%# </ul> %>
    <%# <% end %>
=======
    <% end  %>
  </div>
</div>
>>>>>>> master
