<h2><%= @flat.address %></h2>
<p><%= @flat.price %></p>
<p><%= @flat.description %></p>
<p><%= @flat.city %></p>

<%= simple_form_for [ @flat, @booking ] do |f| %>

  <%= f.input :month_request, as: :string, required: true, placeholder:'select date', input_html: {class: "datepicker", id: "from" } %>
  <br>
  <%= f.submit "Send a request to this Flat", class: "btn btn-success rounded-pill my-5 mr-3" %>
<% end %>

<h2>Reviews</h2>
<ul>
  <% @flat.reviews.each do |review| %>
    <li><%= review.content %> || <%= review.rating %></li>
  <% end %>
</ul>
